.main { 
    text-align: center; 
} 

.marq { 
    padding-top: 5px; 
    padding-bottom: 3px; 
} 

.geek1 { 
    font-size: 20px; 
    font-weight: bold; 
    color: white; 
    padding-bottom: 10px; 
} 